---
import Layout from "~/layouts/Layout.astro"
import Container from "~/components/Container.astro"
---
<Layout>
    <main class="space-y-20">
        <Container>
            <h1> articles index</h1>
        </Container>
    </main>
</Layout>
