---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ProjectList  from '../components/ProjectList.astro';
---

<Layout title="FEInterviewTower">
	<main class="space-y-20">
		<Hero/>
		<ProjectList />
	</main>
</Layout>