---
import Container from "./Container.astro"
---
<Container>
<div class="relative flex flex-col-reverse items-center md:flex-row" id="hero">
    <div class="row items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
        <div class="text-left space-y-3">
            <h1 class="text-5xl font-medium leading-none md:text-6xl">前端通关宝塔</h1>
            <br class="mt-6 mb-8  text-xl font-normal leading-7 sm:mb-12">专为前端开发者打造的<span class="text-rose-900 px-1 font-bold">无痛</span>面试备战指南。</br>涵盖了HTML、CSS、JavaScript、Vue、React等热门技术，</br>还包括性能优化和数据结构等重要知识。</br>不论你是刚起步的新人还是想提升的老手，这里都有适合你的内容。</br>每篇文章都帮你打基础、解决难题，让你在面试中脱颖而出。</p>
            <a class="px-9 py-5 bg-zinc-900 hover:bg-white text-white hover:text-black border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex" rel="noopener noreferrer"  href="https://github.com/yangsheng8/FEInterviewTower" target="_blank">
                <h2 class="text-center text-xl font-normal leading-7">见锦鲤，offer收到手软，点个Star支持一下</h2>
            </a>
        </div>
    </div>
    <div class="flex items-center py-5 md:w-6/12 md:pb-20 md:pt-10 ">
        <img src="/koi.jpg" width="100%" alt="锦鲤"  loading="lazy" decoding="async" class="rounded-[45px]"/>
    </div>
</div>
</Container>