---
import Container from "./Container.astro"
---
<Container>
    <div class="mb-6 text-2xl font-bold">通关<span class="bg-gradient-to-br from-rose-900 to-violet-700 bg-clip-text text-transparent">宝塔</span></div>
    <div class="flex flex-col gap-6">
        <div class="flex flex-col items-center gap-x-8 rounded-md bg-zinc-100 p-3 md:flex-row">
            <div class="shrink-0"><a href="/demo/astro-boilerplate">
                <img class="h-36 w-36 hover:translate-y-1" src="/project-web-design-1.png" alt="第一层塔"  loading="lazy" decoding="async"></a>
            </div>
            <div>
                <div class="flex flex-col items-center gap-y-2 md:flex-row">
                    <a class="hover:text-red-400" href="/demo/astro-boilerplate">
                        <div class="text-xl font-semibold">第一层核心</div></a>
                        <div class="ml-3 flex gap-2">
                            <div class="rounded-md px-2 py-1 text-xs font-semibold bg-fuchsia-400 text-fuchsia-900">HTML-CSS</div>
                            <div class="rounded-md px-2 py-1 text-xs font-semibold bg-lime-400 text-lime-900">V8</div>
                            <div class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-400 text-sky-900">回流重绘</div>
                            <div class="rounded-md px-2 py-1 text-xs font-semibold bg-yellow-400 text-yellow-900">JavaScript</div>
                            <div class="rounded-md px-2 py-1 text-xs font-semibold bg-rose-400 text-rose-900">Vue3</div>
                            <!-- <div class="rounded-md px-2 py-1 text-xs font-semibold bg-violet-400 text-violet-900">Next.js</div>
                            <div class="rounded-md px-2 py-1 text-xs font-semibold bg-emerald-400 text-emerald-900">Blog</div>
                            <div class="rounded-md px-2 py-1 text-xs font-semibold bg-indigo-400 text-indigo-900">Bootstrap</div> -->
                        </div>
                    </div>
                    <p class="mt-3 text-gray-400">涵盖了HTML、CSS、SEO、浏览器的微任务与宏任务、同源策略、垃圾回收机制和V8引擎等基础知识。
                        此外，还有针对JavaScript和Vue3的经典面试题解析，帮助你从基础入手，逐步掌握前端开发的核心技能。</p>
    </div></div>
</div>
    </Container>
  