---
import { capitalize } from '~/utils/utils';

const { tags } = Astro.props;

interface Props {
  tags: string[];
}
---

<div class="flex flex-wrap gap-2">
  {tags.map((tag: string, index: number) => (
   <span
   class={index % 2 === 0 ? "px-2 py-1 bg-green-900 text-white rounded-full text-xs hover:opacity-90" : "px-2 py-1 bg-lime-900 text-white rounded-full text-xs hover:opacity-90"}
   ><a href={'/tag/' + tag}>#{capitalize(tag)}</a></span>
  ))}
 </div>