---
import Layout from '~/layouts/Layout.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="header">
     <h1> PageLayout header </h1>
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <h1> PageLayout footer</h1>
  </slot>
</Layout>
